// In root to be usable in pickers
:root, :host {
    --taskboard-red         : #c62828;
    --taskboard-pink        : #ad1457;
    --taskboard-purple      : #6a1b9a;
    --taskboard-deep-purple : #4527a0;
    --taskboard-indigo      : #283593;
    --taskboard-blue        : #1565c0;
    --taskboard-light-blue  : #0282cc;
    --taskboard-cyan        : #00838f;
    --taskboard-teal        : #00695c;
    --taskboard-green       : #2e7d32;
    --taskboard-light-green : #66a638;
    --taskboard-lime        : #9e9d24;
    --taskboard-yellow      : #fab23e;
    --taskboard-amber       : #ff8f00;
    --taskboard-orange      : #ef6c00;
    --taskboard-deep-orange : #d84315;
    --taskboard-gray        : #424242;
    --taskboard-light-gray  : #828282;
}

.b-taskboard-color-red {
    color : var(--taskboard-red);
}

.b-taskboard-color-pink {
    color : var(--taskboard-pink);
}

.b-taskboard-color-purple {
    color : var(--taskboard-purple);
}

.b-taskboard-color-deep-purple {
    color : var(--taskboard-deep-purple);
}

.b-taskboard-color-indigo {
    color : var(--taskboard-indigo);
}

.b-taskboard-color-blue {
    color : var(--taskboard-blue);
}

.b-taskboard-color-light-blue {
    color : var(--taskboard-light-blue);
}

.b-taskboard-color-cyan {
    color : var(--taskboard-cyan);
}

.b-taskboard-color-teal {
    color : var(--taskboard-teal);
}

.b-taskboard-color-green {
    color : var(--taskboard-green);
}

.b-taskboard-color-light-green {
    color : var(--taskboard-light-green);
}

.b-taskboard-color-lime {
    color : var(--taskboard-lime);
}

.b-taskboard-color-yellow {
    color : var(--taskboard-yellow);
}

.b-taskboard-color-amber {
    color : var(--taskboard-amber);
}

.b-taskboard-color-orange {
    color : var(--taskboard-orange);
}

.b-taskboard-color-deep-orange {
    color : var(--taskboard-deep-orange);
}

.b-taskboard-color-gray {
    color : var(--taskboard-gray);
}

.b-taskboard-background-color-red {
    background-color : var(--taskboard-red);
}

.b-taskboard-background-color-pink {
    background-color : var(--taskboard-pink);
}

.b-taskboard-background-color-purple {
    background-color : var(--taskboard-purple);
}

.b-taskboard-background-color-deep-purple {
    background-color : var(--taskboard-deep-purple);
}

.b-taskboard-background-color-indigo {
    background-color : var(--taskboard-indigo);
}

.b-taskboard-background-color-blue {
    background-color : var(--taskboard-blue);
}

.b-taskboard-background-color-light-blue {
    background-color : var(--taskboard-light-blue);
}

.b-taskboard-background-color-cyan {
    background-color : var(--taskboard-cyan);
}

.b-taskboard-background-color-teal {
    background-color : var(--taskboard-teal);
}

.b-taskboard-background-color-green {
    background-color : var(--taskboard-green);
}

.b-taskboard-background-color-light-green {
    background-color : var(--taskboard-light-green);
}

.b-taskboard-background-color-lime {
    background-color : var(--taskboard-lime);
}

.b-taskboard-background-color-yellow {
    background-color : var(--taskboard-yellow);
}

.b-taskboard-background-color-amber {
    background-color : var(--taskboard-amber);
}

.b-taskboard-background-color-orange {
    background-color : var(--taskboard-orange);
}

.b-taskboard-background-color-deep-orange {
    background-color : var(--taskboard-deep-orange);
}

.b-taskboard-background-color-gray {
    background-color : var(--taskboard-gray);
}
