.b-taskboardbase {
    --taskboard-background                  : #fff;
    --taskboard-body-padding                : 3em;
    --taskboard-column-gap                  : 2em;

    --taskboard-card-border-top-radius      : 5px;
    --taskboard-card-border-bottom-radius   : 5px;
    --taskboard-card-border-left            : 6px solid currentColor;

    --taskboard-column-header-border-radius : 5px 5px 0 0;
    --taskboard-column-background           : #f2f2f2;

    --taskboard-columndrag-background       : transparent;

    --taskboard-swimlane-header-background  : linear-gradient(0deg, currentColor, currentColor 3px, #ffffffaa 3px, #ffffffaa) currentColor;
}

.b-taskboard-column-header,
.b-taskboard-column {
    border             : 0 solid #e9e9e9;
    border-inline-start-width  : 1px;
    border-inline-end-width : 1px;
}

.b-taskboard-column-header {
    border-top-width : 1px;
}

.b-last .b-taskboard-column {
    border-bottom-width        : 1px;
    border-bottom-left-radius  : 5px;
    border-bottom-right-radius : 5px;
}

.b-theme-classic .b-taskboardbase {
    --taskboard-column-background : #eee;
}

.b-theme-classic-dark {
    .b-taskboardbase {
        --taskboard-background        : #111;
        --taskboard-column-background : #222;
    }

    .b-taskboard-column-header,
    .b-taskboard-column {
        border-color : #191919;
    }
}

.b-theme-classic-light {
    .b-taskboardbase {
        --taskboard-background        : #fff;
        --taskboard-column-background : #f6f6f6;
    }
}

.b-taskboard-card[data-column=done] {
    filter : saturate(10%);
}

// Button menu items
[data-ref=critical] i {
    color : var(--taskboard-red);
}

[data-ref=high] i {
    color : var(--taskboard-deep-orange);
}

[data-ref=medium] i {
    color : var(--taskboard-orange);
}

[data-ref=low] i {
    color : var(--taskboard-light-green);
}
