.b-taskboard-task-menu {
    background    : transparent;
    border        : none;
    border-radius : var(--taskboard-card-border-top-radius) var(--taskboard-card-border-top-radius) var(--taskboard-card-border-bottom-radius) var(--taskboard-card-border-bottom-radius);
}
